/*

__/\\\\\\\\\\\\\\\________________________________________________________________________        
 _\/\\\///////////_________________________________________________________________________       
  _\/\\\____________________________________________________________________________________      
   _\/\\\\\\\\\\\_________/\\\\\_____/\\\____/\\\_____/\\\\\\\\___/\\/\\\\\\\______/\\\\\____     
    _\/\\\///////________/\\\///\\\__\//\\\__/\\\____/\\\/////\\\_\/\\\/////\\\___/\\\///\\\__    
     _\/\\\______________/\\\__\//\\\__\//\\\/\\\____/\\\\\\\\\\\__\/\\\___\///___/\\\__\//\\\_   
      _\/\\\_____________\//\\\__/\\\____\//\\\\\____\//\\///////___\/\\\_________\//\\\__/\\\__  
       _\/\\\______________\///\\\\\/______\//\\\______\//\\\\\\\\\\_\/\\\__________\///\\\\\/___ 
        _\///_________________\/////_________\///________\//////////__\///_____________\/////_____
*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
p {
	color:#162E5C;
	font-family:Trebuchet MS;
	text-align:center;